/* style.css - Finale Anpassungen (nach SCSS/Bootstrap geladen) */
/* TH Köln Design - Roman Bartnik 2026 */

/* ===== SCHRIFTARTEN ===== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Überschriften: Montserrat (wie TH Köln) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Code: Fira Code für bessere Lesbarkeit */
code, pre, .sourceCode {
  font-family: 'Fira Code', monospace;
}


/* ===== QUARTO-SPEZIFISCHE FIXES ===== */

/* Inline-Figures ohne extra Rahmen */
.inline-figure { 
  border: none; 
}

/* Cover-Image anzeigen */
.quarto-cover-image { 
  display: block; 
}

/* Hanging Indent für Literaturverzeichnis (APA-Stil) */
div.hanging-indent { 
  margin-left: -1.5em !important; 
}

/* Literaturverzeichnis-Einträge */
.csl-entry {
  padding-left: 2em;
  text-indent: -2em;
}


/* ===== FIX: ZEILENUMBRÜCHE IN CALLOUTS ===== */

.callout pre,
.callout pre code {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.callout pre {
  overflow-x: hidden;
}


/* ===== BILDER RESPONSIVE ===== */

img { 
  max-width: 100%; 
}


/* ===== CODE-DARSTELLUNG ===== */

/* Code-Output mit Rahmen */
.cell-output code {
  white-space: pre-wrap;
  border: 1px solid grey;
  padding: 1em;
}

/* SourceCode nach divs */
div.sourceCode {
  clear: both;
}

/* Fix: Code mit Zeilennummern */
pre > code.sourceCode > span {
  text-indent: 0;
  padding-left: 0;
}
